<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.city %></p>
  <p><%= @restaurant.category %></p>
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_restaurant_path, class: "btn btn-success" %>
  <%= link_to "Delete", restaurant_path, method: :delete, data: { confirm: "Are you sure ?" },class: "btn btn-danger" %>
  <h3>Reviews :</h3>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
  <% end %>
  <%= link_to 'Comment', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
</div>

